@using IT_Gateway.Models;
@model List<DevicesModel>;

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  @* <link rel="stylesheet" href="~/lib/css/Admin.css" /> *@
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    :root {
      --rightwidth: 350px;
      --fullpagew: 95vw;
    }

    body {
      min-height: 100vh;
      font-family: "Open Sans", sans-serif;
      margin: 0;
    }

    nav {
      position: static;
      top: 0;
    }

    .assign-content {
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 5.5%;
      /* margin-top: 18px; */
      /* Add some padding to create space between border and content */
    }

    .main-content {
      padding: 1rem;
    }

    .left {
      width: calc(var(--fullpagew) - var(--rightwidth));
      display: inline-block;
      padding: 3%;
    }

    .right {
      display: inline-block;
      position: absolute;
      width: var(--rightwidth);


      /* box-shadow: 0px -1px 13px 4px rgba(157,157,157,0.4);
-webkit-box-shadow: 0px -1px 13px 4px rgba(157,157,157,0.4);
-moz-box-shadow: 0px -1px 13px 4px rgba(157,157,157,0.4); */
    }

    .right-text {
      padding: 3%;
    }

    .assign-btn {
      margin-top: 7.8%;
    }

    #chart-container {
      width: 300px;
      height: 300px;
      transition: .4s ease;
      opacity: 0;
      /* Initially hidden */
      margin: 20px;
    }

    /* #color-dropdown {

  } */
    /* Custom CSS for the color-dropdown */
    #color-dropdown {
      font-family: "Open Sans", sans-serif;
      /* Customize font family */
      font-size: 16px;
      /* Customize font size */

      padding-left: 10%;
      margin: 18px;
    }

    /* Customize the appearance of the dropdown box */
    #color-dropdown select {
      width: 100px;
      /* Customize the width of the dropdown box */
      padding: 7px;
      /* Add some padding to make it visually pleasing */
      border: 2px solid #ccc;
      /* Add a border */
      border-radius: 5px;
      /* Add rounded corners */
      background-color: #fff;
      /* Background color */
      color: #333;
      /* Text color */
      appearance: none;
      /* Remove default styles for certain browsers */
      -webkit-appearance: none;
      -moz-appearance: none;
      white-space: nowrap;
      /* Prevent the text from wrapping to the next line */
      overflow: hidden;
      /* Hide any overflowed text */
      text-overflow: ellipsis;
      /* Add ellipsis (...) for text overflow */
    }


    /* Style the arrow icon in the dropdown box (if supported) */
    #color-dropdown select::after {
      content: "\f078";
      /* Unicode for the arrow-down icon (font-awesome) */
      font-family: "Font Awesome 5 Free";
      /* Use Font Awesome */
      font-weight: 900;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      pointer-events: none;
      color: #555;
      /* Arrow color */
    }

    /* Style the dropdown options */
    #color-dropdown select option {
      font-family: "Open Sans", sans-serif;
      /* Customize font family */
      font-size: 16px;
      /* Customize font size */
      color: #333;
      /* Text color */
    }

    /* Hover and Focus styles for the dropdown */
    #color-dropdown select:hover,
    #color-dropdown select:focus {
      border-color: #66afe9;
      /* Border color on hover/focus */
      outline: none;
      /* Remove the default focus outline */
    }

    #loading {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      /* height: 100%; */
      opacity: 1;
      /* Initially visible */
      transition: opacity 0.5s ease-in-out;
      /* Add fade-out transition */
    }

    footer {
      position: relative;
      bottom: 0;
      width: 100%;
      height: 10vh;
      border-top: 1px solid rgb(193, 193, 193);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    /* .dropdown{
    position: relative;
} */
    @*@importurl('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');*@.fn-1 {
      font-family: 'Bebas Neue', cursive;
      font-size: 1.75em;
      /* position: absolute;
  top: 50%;
  left: 50%; */
      /* transform: translate(-50%,-50%); */
      background-image: linear-gradient(rgb(255, 183, 0), gold);
      text-align: center;
      background-repeat: no-repeat;


    }

    .btn-cus {
      background-color: #a8adb3 !important;
    }

    .btn>i {
      color: rgb(255, 183, 0) !important;
    }

    .btn:hover>i,
    .btn:focus>i {
      transition: .2s ease-in-out;
      cursor: pointer;
      color: #ffea00 !important;
    }

    .btn:active>i {
      color: #ff7301 !important;

    }

    .card {

      border: 1px solid #ccc;
      border-radius: 4%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 25px;
      margin-bottom: 20px;
    }

    .add-devtype-btn {
      margin-top: 28%;
    }

    .last-row {
      margin-top: 3%;
      margin-bottom: 3%;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark"
    style="min-height: 10vh; box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5)">
    <a class="navbar-brand" href="#"><img src="https://cginfinity.com/wp-content/uploads/2022/04/cgi-logo.svg"
        alt="" /></a>
    <ul class="navbar-nav ml-auto mr-0 mt-2 mt-lg-0">
      <li class="nav-item d-flex flex-row-reverse dropdown">
        <a class="btn" style="color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa-solid fa-user fa-xl"></i>
        </a>
        <div class="dropdown-menu" style="
              box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
              left: auto;
              position: absolute;
            " aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">User Name</a>
          <a class="dropdown-item" href="#">User Id</a>
          <hr />
          <a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="main-content">
    <div class="left">
      <p class="fn-1">Assign a device</p>
      <div class="container">
        <form>
          <div class="row assign-content">
            <div class="col-6">
              <div class="form-group">
                <label for="employeeID">Employee ID:</label>
                <input type="text" class="form-control" id="employeeID" name="employee_id"
                  placeholder="Enter Employee ID">
              </div>

              <!-- Device Type Dropdown -->
              <div class="form-group">
                <label for="deviceType">Device Type:</label>
                 <select class="form-control" id="deviceType" name="device_id">
                  @if (Model != null){
    @foreach (var device in Model)
    {
        <option value="@device.device_id">@device.device_name</option>
    }
                  }
</select>
                @* <select class="form-control" id="deviceType" name="device_type">
                  <option value="1">Laptop</option>
                  <option value="2">Mouse</option>
                  <option value="3">Charger</option>
                  <option value="4">Keyboard</option>
                  <option value="5">Other</option>

                 
                </select> *@
              </div>
            </div>
            <div class="col-6 right-content">
              <div class="form-group">
                <label for="deviceType">Specifications:</label>
                <select class="form-control" id="deviceType">
                  <option value="laptop">Laptop</option>
                  <option value="desktop">Desktop</option>
                  <option value="tablet">Tablet</option>
                  <option value="smartphone">Smartphone</option>
                  <option value="other">Other</option>
                </select>
              </div>

              <button type="submit" class="btn btn-dark assign-btn">Assign a Device</button>
            </div>

          </div>

        </form>
        <!-- <h6 class="right-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium corrupti illo ab rem ullam.</h4> -->
      </div>
    </div>
    <div class="right">
      <div id="color-dropdown">
        <label for="colors">Select an option: &nbsp;</label>
        <select id="colors" onchange="updateChart()">
          <option value="option1">Laptop</option>
          <option value="option2">Keyboard</option>
          <option value="option3">Mouse</option>
          <option value="option4">Charger</option>
        </select>
      </div>
      <div id="chart-container">
        <canvas id="myPieChart"></canvas>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <p class="fn-1">Add new Device-Type</p>
        <div class="card">
          <!-- Content for the first card -->
          <form>
            <!-- Input Field -->
            <div class="form-group">
              <label for="inputField">Device type:</label>
              <input type="text" class="form-control" id="inputField" placeholder="Enter something">
            </div>

            <!-- Dropdown with Options -->
            <!-- <div class="form-group">
              <label for="dropdownOptions">Select an option:</label>
              <select class="form-control" id="dropdownOptions">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
                <option value="option4">Option 4</option>
              </select>
            </div> -->

            <!-- Button -->
            <button type="button" class="btn btn-dark add-devtype-btn">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-4">
        <p class="fn-1">Add to inventory</p>
        <div class="card">
          <!-- Content for the second card -->
          <form>
            <!-- Device Type Dropdown -->
            <div class="form-group">
              <label for="deviceType">Device Type:</label>
              <select class="form-control" id="deviceType">
                <option value="laptop">Laptop</option>
                <option value="desktop">Desktop</option>
                <option value="tablet">Tablet</option>
                <option value="smartphone">Smartphone</option>
                <option value="other">Other</option>
              </select>
            </div>

            <!-- Specifications Dropdown -->
            <div class="form-group">
              <label for="specifications">Specifications:</label>
              <select class="form-control" id="specifications">
                <option value="spec1">Specification 1</option>
                <option value="spec2">Specification 2</option>
                <option value="spec3">Specification 3</option>
                <option value="spec4">Specification 4</option>
                <option value="spec5">Specification 5</option>
              </select>
            </div>

            <!-- Button -->
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-4">
        <p class="fn-1">Deallocating device</p>
        <div class="card">

          <form>
            <!-- Employee ID Input Field -->
            <div class="form-group">
              <label for="employeeID">Employee ID:</label>
              <input type="text" class="form-control" id="employeeID" placeholder="Enter Employee ID">
            </div>

            <!-- Device Type Dropdown -->
            <div class="form-group">
              <label for="deviceType">Device Type:</label>
              <select class="form-control" id="deviceType">
                <option value="laptop">Laptop</option>
                <option value="desktop">Desktop</option>
                <option value="tablet">Tablet</option>
                <option value="smartphone">Smartphone</option>
                <option value="other">Other</option>
              </select>
            </div>

            <!-- Button -->
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row last-row">
      <div class="col-6">
        <p class="fn-1">Add User</p>
        <div class="card">
          <!-- Content for the fourth card -->
          <form>
            <!-- Employee ID Input Field -->
            <div class="form-group">
              <label for="employeeID">Employee ID:</label>
              <input type="text" class="form-control" id="employeeID" placeholder="Enter Employee ID">
            </div>

            <!-- Username Input Field -->
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" class="form-control" id="username" placeholder="Set Username">
            </div>

            <!-- Password Input Field -->
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" placeholder="Set Password">
            </div>

            <!-- Button -->
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-6">
        <p class="fn-1">Display devices</p>
        <div class="card">
          <!-- Content for the fifth card -->
          <form>
            <!-- Employee ID Input Field -->
            <div class="form-group">
              <label for="employeeID">Employee ID:</label>
              <input type="text" class="form-control" id="employeeID" placeholder="Enter Employee ID">
            </div>

            <!-- Readonly Text Area -->
            <div class="form-group">
              <label for="devicesToDeallocate">Devices to be deallocated:</label>
              <textarea class="form-control" id="devicesToDeallocate" rows="4"
                readonly>Devices to be deallocated</textarea>
            </div>

            <!-- Button -->
            <button type="submit" class="btn btn-dark mt-3">Deallocate Devices</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    const ctx = document.getElementById('myPieChart').getContext('2d');
    let myPieChart;

    const dataMap = {
      option1: [40, 30, 30],
      option2: [10, 50, 40],
      option3: [20, 20, 60],
      option4: [25, 35, 40],
    };

    function updateChart() {
      const selectedOption = document.getElementById('colors').value;
      const data = dataMap[selectedOption];

      if (myPieChart) {
        myPieChart.destroy();
      }

      // Show the loading message

      setTimeout(() => {
        myPieChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: ['Assigned', 'Unassigned', 'Repair'],
            datasets: [{
              data: data,
              backgroundColor: ['rgb(45, 194, 107)', 'rgb(40, 81, 158)', 'red'],
              borderWidth: 1
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                labels: {
                  font: {
                    size: 10
                  }
                }
              }
            }

          }
        });

        // Hide the loading message and show the chart
        document.getElementById('chart-container').style.opacity = 1;
      }); // Simulating a 2-second delay for the loading effect (you can adjust the delay as needed)
    }

    // Initial chart update on page load
    window.addEventListener('load', updateChart);
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>


<footer>
  <p>© 2023 CG Infinity. All rights reserved</p>
</footer>




</html>