<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />
</head>

<body style="overflow: hidden;">
    <section class="background-radial-gradient overflow-hidden">
        <style>
            .background-radial-gradient {
                background-color: hsl(218, 41%, 15%);
                background-image: radial-gradient(650px circle at 0% 0%,
                        hsl(218, 41%, 35%) 15%,
                        hsl(218, 41%, 30%) 35%,
                        hsl(218, 41%, 20%) 75%,
                        hsl(218, 41%, 19%) 80%,
                        transparent 100%),
                    radial-gradient(1250px circle at 100% 100%,
                        hsl(218, 41%, 45%) 15%,
                        hsl(218, 41%, 30%) 35%,
                        hsl(218, 41%, 20%) 75%,
                        hsl(218, 41%, 19%) 80%,

                        transparent 100%);
            }

            #radius-shape-1 {
                height: 220px;
                width: 220px;
                top: -60px;
                left: -130px;
                background: radial-gradient(#91c8e4, #4682a9);
                overflow: hidden;
            }

            #radius-shape-2 {
                border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
                bottom: -60px;
                right: -110px;
                width: 300px;
                height: 300px;
                background: radial-gradient(#749bc2, #91c8e4);
                overflow: hidden;
            }

            .bg-glass {
                background-color: hsla(0, 0%, 100%, 0.9) !important;
                backdrop-filter: saturate(200%) blur(25px);
            }
        </style>

        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
            <div class="row gx-lg-5 align-items-center mb-5">
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                        The best offer <br />

                        <span style="color: #ffc107">for your business</span>
                    </h1>

                    <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                        Our people-first approach to technology offers best-in-class
                        service and success rates.
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>

                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                    <div class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">
                            <form action="/Home/Index" method="get">
                                <div class="form-check d-flex justify-content-center mb-4" style="margin-top: -1rem">
                                    <img src="~/Images/logo.png" alt="logo" style="height: 10rem; width: 10rem" />
                                </div>

                                <div class="form-outline mb-4" style="margin-top: -2rem">
                                    <input type="text" name="username" id="form3Example3" class="form-control" required />

                                    <label class="form-label" for="form3Example3">Username</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" name="password" id="form3Example4" class="form-control" required />

                                    <label class="form-label" for="form3Example4">Password</label>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block mb-4"
                                    style="background-color: #ffc107">
                                    Log in
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>

<script>

    function validatePassword() {
        const passwordInput = document.getElementById("form3Example4");

        const password = passwordInput.value;

        var alertMessage = "@Html.Raw("Password should be 8 characters long and contain at least one uppercase letter,\\u000Aone lowercase letter, one digit, and one special character (\\u0040, \\u0024, \\u0021, \\u0025, \\u002A, \\u003F, \\u0026).\\u000AExample: Abcd@1234")";

        var passwordRegex = new RegExp(@Html.Raw(Json.Serialize("^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&])[A-Za-z\\d@$!%*?&]{8,}$")));


        if (password === "") {
            alert("Password cannot be empty.");
            return false;
        }

        if (!passwordRegex.test(password)) {
            alert(
                alertMessage
            );

            return false;
        }
        return true;
    }

    function onSubmitForm(event) {
        event.preventDefault();

        if (validatePassword()) {

            event.target.submit();
        }
    }
    const form = document.querySelector("form");
    form.addEventListener("submit", onSubmitForm);
</script>

</html>
